/* font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


.navicon{
    max-width: 1320px;
    height: 140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navicon h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 800;
    margin-left: 70px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}
.banner-section-container {
    max-width: 1320px;
    height: 600px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.img-container{
    margin-top: 30px;
    width: 220.28px;
    height: 220px;
}
.banner-text{
    width: 1100px;
    height: 380px;
}